@using Web.Models.Utils;

@model ClienteHomeViewModel;
@{
    ViewData["Title"] = Model.Nome;
    Layout = "_LayoutClienti";
}

@section Header{
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" integrity="sha256-Tu3DN+5kwrhzlzhNUMuGht2h7cR6ARgKcYemB9u5SzA=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css" integrity="sha256-z78IDnzMlkZK8v2CTwM19nwgmpqbCSYiRtBGqX9bmsA=" crossorigin="anonymous" />
    </environment>
    <environment include="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" integrity="sha256-Tu3DN+5kwrhzlzhNUMuGht2h7cR6ARgKcYemB9u5SzA=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.css" integrity="sha256-PrnIGltkTKTE3bcfk7Wqq991vuscF9HovIiEHPNZn08=" crossorigin="anonymous" />
    </environment>

}
<div class="r2d-container">
    <div class="row">
        <!-- Primo banner pubblicitario -->
        <partial name="_Banner_Leaderboard" />
    </div>

    <section id="clientHeroes">
        <div class="row r2d-bgcontent">
            <div class="col s12 r2d-clearfix r2d-nopadding-col">
                @*Hero Image*@
                <div class="r2d-client-heroimg-container">
                    <img class="r2d-client-heroimg" src="@Model.ImmagineHome.Url" />
                    @*<div class="r2d-client-heroimg" style="background-image: url('@Model.ImmagineHome.Url'); background-size:cover;">
                        </div>*@
                </div>
                @*Descrizione*@
                <div class="r2d-client-herodesc-container">
                    <span class="r2d-client-hero-nome">@Model.Nome</span>
                    <span class="r2d-client-hero-desc">
                        @Model.Descrizione
                        @*@Model.Descrizione.Substring(0, 30);*@
                        @*@Model.Descrizione*@
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section id="slideshow" class="r2d-slideshow">
        <div class="row r2d-bgcontent">
            <div class="col s12 r2d-nopadding-col">
                <div id="r2d-carousel" class="carousel carousel-slider">
                    @foreach (var i in Model.Images.OrderBy(img => img.Ordinamento))
                    {
                        <a class="carousel-item"><img src="@i.Url" alt="@i.Alt" /></a>
                    }
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <!-- Secondo banner pubblicitario -->
        <partial name="_Banner_Leaderboard" />
    </div>

    <section id="calendars">
        <div class="row r2d-bgcontent">
            @if (Model.Locations != null && Model.Locations.Count > 0)
            {
                <!-- TABS SALE-->
                <ul id="tabsContainer" class="tabs tabs-fixed-width">
                    @for (int i = 0; i < Model.Locations.Count; i++)
                    {
                        <li class="tab col s3 @(i==0?"active":"")">
                            <a href='@(String.Format("#calendar-{0}",Model.Locations[i].Id))'>@Model.Locations[i].Nome</a>
                        </li>
                    }
                </ul>
                <!-- Un DIV per ciascuna sala con il calendario per quella sala -->
                @foreach (var s in Model.Locations)
                {
                    <div id="@(String.Format("calendar-container-{0}",s.Id))" class="r2d-calendar-container">
                        <div id='@(String.Format("calendar-{0}",s.Id))'>

                        </div>
                    </div>
                }
            }
            else
            {
                <span>Al momento non sono stati schedulati eventi.</span>
            }

        </div>
    </section>

    <section id="whereare">
        <div class="row">
            <div class="r2d-whereweare-container">
                <div class="r2d-whereweare-map-box">
                    <a target="_blank" href="@Html.Raw(Model.ExternalGoogleMapUrl)">
                        <img class="responsive-img r2d-whereweare-map" src="@Model.GoogleStaticMapUrl" />
                    </a>
                </div>
                <div class="r2d-whereweare-right-container r2d-bgcontent">
                    <div class="r2d-whereweare-orari-container">
                        @if (Model.OrarioApertura != null)
                        {
                            <div class="r2d-section-title">Orario Apertura</div>
                            <div>Len-Ven: @Model.OrarioApertura.LunVen?.AsString()</div>
                            <div>Sabato: @Model.OrarioApertura.Sabato?.AsString()</div>
                            <div>Domenica: @Model.OrarioApertura.Domenica?.AsString()</div>
                        }
                    </div>
                    <div>
                        <div class="r2d-section-title">Contatti</div>
                        <div>Indirizzo: @Model.Indrizzo</div>
                        <div>Telefono: @Model.NumTelefono</div>
                        <div>Email: @Model.Email</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <!-- Terzo banner pubblicitario -->
        <partial name="_Banner_Leaderboard" />
    </div>
</div>

@section Scripts{
    <environment include="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.js" integrity="sha256-oJJHkizrUKFt3RxI+6CGUF/ILj4N4SBLKq60GgkcLfY=" crossorigin="anonymous"></script>
        <!-- MomentJS e FullCalendar-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js" integrity="sha256-59IZ5dbLyByZgSsRE3Z0TjDuX7e1AiqW5bZ8Bg50dsU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/it.js" integrity="sha256-D8y560ZGsKY1LoAajKkQCG7y0Vkye361MH4yFv2K5kk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js" integrity="sha256-uKe4jCg18Q60qLNG8dIei2y3ZVhcHADuEQFlpQ/hBRY=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/it.js" integrity="sha256-Y2D8xTTlSrBTcjPKKOeBs0zxdp9rupAIQiQZkbxVAfo=" crossorigin="anonymous"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js" integrity="sha256-bX3ZexuPmm3WbMkCXTtmA9NxFzcS0QP6Jz4gowE6U3A=" crossorigin="anonymous"></script>
        <!-- MomentJS e FullCalendar-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/it.js" integrity="sha256-D8y560ZGsKY1LoAajKkQCG7y0Vkye361MH4yFv2K5kk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js" integrity="sha256-QvhPq+evNjd8JyxSOU5KL3jPYTD7+gWVev1OH763SL0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/it.js" integrity="sha256-Y2D8xTTlSrBTcjPKKOeBs0zxdp9rupAIQiQZkbxVAfo=" crossorigin="anonymous"></script>
    </environment>


    <script>
        function onTabShow(tab) {
            /*NOTA: il calendario nel tab ha dei problemi con il resize della finestra.
                    Credo che il problema si dovuto più al tab che al calendario (nel senso che togliendolo dal tab non dovrebbe dare problemi).
                    L'unico modo che ho trovato per farlo funzionare è scatenare un evento di resize della window in modo esplicito (credo non funzioni su IE).
                    L'invocazione del metodo render così come l'impostazione dell'aspectRatio non producono effetti!
                    Una miglioria potrebbe essere quella di usare un solo calendario, fuori dal tab, e caricare i dati dinamicamente al cambio tab. In questo
                    modo si alleggerirebbe la pagina (non caricando gli eventi che non sono visibili).
            */
           // $(tab.id).fullCalendar('render');
            //$(tab.id).fullCalendar('option', 'aspectRatio', 2);
            window.dispatchEvent(new Event('resize'));
        }
                $.ajaxSetup({
            headers: {
   //             'X-PalestreGoGO-AUTHToken': document.getElementById('token').value
                'X-PalestreGoGO-AUTHToken':'@Html.Raw(ViewBag.AuthToken)'
            }
        });

        $(document).ready(function () {
            var instance = M.Tabs.init(document.getElementById('tabsContainer'), {
                onShow: onTabShow
            });

            var carouselElem = document.getElementById('r2d-carousel');
            var instances = M.Carousel.init(carouselElem,{
                //fullWidth: true,
                indicators: true
            });


             @foreach (var s in Model.Locations)
             {
                <text>
            $('@(String.Format("#calendar-{0}", s.Id))').fullCalendar({
                header: {
                    left: 'today',
                    center: 'title',
                    right: 'prev,next'
                },
                lang: "it",
                weekends: true,
                defaultView: "agendaWeek",
                slotDuration: "01:00:00",
                slotLabelInterval: "01:00",
                minTime: '@Model.OrarioMinimo',
                maxTime: '@Model.OrarioMassimo',
                agendaEventMinHeight: 30,
                nowIndicator: false,
                allDaySlot: false,
                contentHeight: "auto",
                validRange: {
                    start: '@Model.DataMinima',
                    end: '@Model.DataMassima'
                },
                views: {
                    week: {

                    }
                },
                columnHeaderHtml: function (date) {
                    console.log("Inside columnHeaderHtml - date:" + date);
                    var m = moment(date);
                    var result = "<div class='rd2-cal-header-dayname'>" + m.format("ddd") + "</div><div class='rd2-cal-header-daynum"
                    //Per il giorno corrente applichiamo una classe speciale
                    if (m.isSame(new Date(),'day')) {
                        result += " rd2-cal-header-daynum-current"
                    }
                    result += "'>" + m.format("D") + "</div>";
                    return result;
                },
                events: {
                    url: '@Html.Raw(Model.EventsBaseUrl + "feeds")',
                    type: 'GET',
                    data: { lid: '@s.Id' },
                },
                loading: function (isLoading, view) {
                    console.log("Calendar isLoading:" + isLoading + ", view: " + view);
                },
                eventClick: function (calEvent, jsEvent, view) {
                    $("#spinner").show();
                    var url = '@Html.Raw(Model.EventsBaseUrl)' + calEvent.id ;
                    window.location = url;
                }
                });
                </text>
            }
        });
    </script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            spaceBetween: 20,
            speed: 1000,
            effect: 'fade',
            centeredSlides: true,
            loop: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
}
