@model List<TipologieLezioniViewModel>
@{
    ViewData["Title"] = "Lezioni";
    Layout = "_LayoutClienti";
}
@Html.Partial("_MenuCliente", ViewData["IdCliente"])
<div class="container">
    <div class="row">
        <div class="col s9">
            <span class="section-header">
                Lezioni
            </span>
        </div>
        <div class="col s3">
            <a class="btn-floating btn-large waves-effect waves-light red" asp-action="LezioneAdd"><i class="material-icons">add</i></a>
        </div>
    </div>
    <div class="row">
        @if ((Model == null) || (Model.Count == 0))
        {
            <span class="noDataFound">Nessuna lezione inserita.</span>
        }
        else
        {
            <table class="stripped responsive-table">
                <thead>
                    <tr>
                        <th>Lezione</th>
                        <th>Descrizione</th>
                        <th>Durata</th>
                        <th>Capienza</th>
                        <th class="center">Azioni</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var s in Model)
                    {
                        <tr>
                            <td data-id-sala="@s.Id">@s.Nome</td>
                            <td>@s.Descrizione</td>
                            <td>@((new TimeSpan(0, s.Durata, 0)).ToString())</td>
                            <td>@s.MaxPartecipanti</td>
                            <td class="center">
                                <div>
                                    <a class="waves-effect waves-light btn" asp-action="LezioneEdit" asp-route-id="@s.Id"><i class="medium material-icons">edit</i></a>
                                    <a class="waves-effect waves-light btn" asp-action="LezioneDelete" asp-route-id="@s.Id"><i class="medium material-icons">delete</i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>