@model List<ClienteUtenteViewModel>;

@{
    ViewData["Title"] = "Index";
    //TODO: gestire layout specifico per l'utente (??)
    Layout = "_LayoutClienti";
}

@Html.Partial("_MenuCliente", ViewData["IdCliente"])

<div class="container">
    <div class="row">
        <h2>Utenti Associati</h2>

        <table>
            <thead>
                <tr>
                    <th>Cognome</th>
                    <th>Nome</th>
                    <th>Stato Abbonamento</th>
                    <th>Gestione</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var u in Model)
                {
                    <tr class="row">
                        <td>@u.Cognome</td>
                        <td>@u.Nome</td>
                        <td>
                            @{
                                switch (u.StatoAbbonamento)
                                {
                                    case StatoAbbonamento.AbbonamentoValido:
                                        <text>Abbonamento Valido</text>
                                        break;
                                    case StatoAbbonamento.IngressiTerminati:
                                        <text>Ingressi Terminati</text>;
                                        break;
                                    case StatoAbbonamento.NessunAbbonamento:
                                        <text>Nessun Abbonamento</text>
                                        break;
                                    case StatoAbbonamento.Scaduto:
                                        <text>Abbonamento Scaduto</text>
                                        break;
                                }
                            }
                        <td>
                            @switch (u.StatoAbbonamento)
                            {
                                case StatoAbbonamento.NessunAbbonamento:
                                    <a class='dropdown-trigger btn @Html.Raw(ViewBag.TipologieAbbonamenti == null ? "disabled" : "")' href='#' data-target='@Html.Raw(string.Format("ddAddAbb-{0}", u.IdUtente.ToString("N")));'>Nuovo Abbonamento</a>
                                    <!-- Dropdown Structure -->
                                    <ul id='@Html.Raw(string.Format("ddAddAbb-{0}", u.IdUtente.ToString("N")));' class='dropdown-content'>
                                        @foreach (var ta in (ViewBag.TipologieAbbonamenti as IEnumerable<KeyValuePair<int, string>>))
                                        {
                                            <li>
                                                <a asp-controller="Abbonamenti" asp-action="AddAbbonamentoToUser"
                                                   asp-route-userId="@u.IdUtente" asp-route-tipoAbb="@ta.Key">@ta.Value</a>
                                            </li>
                                        }
                                    </ul>
                                    break;
                                default:
                                    <a asp-controller="Abbonamenti" asp-action="ManageAbbonamentoUtente"
                                       asp-route-userId="@u.IdUtente" class="waves-effect waves-light btn disabled">Gestione Abbonamento</a>
                                    break;
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var options = null;
            var instances = M.Dropdown.init(elems, options);
        });
    </script>
}
