@model SideNavViewModel;

@if (Model.IsVisible)
{
    <a href="#" data-target="nav-mobile" class="top-nav sidenav-trigger full hide-on-large-only"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="sidenav sidenav-fixed">
        <!-- spacer-->
        <li class="no-padding ">
            <div class="r2d-sidenav-topspacer"></div>
        </li>
        <li class="no-padding">
            <a class="r2d-text-bold" asp-action="Index" asp-controller="Clienti" asp-route-cliente="@Model.ClienteRoute">
                Home
            </a>
        </li>
        <li>
            <ul id="navMenuDatiStruttura" class="collapsible collapsible-accordion">
                <li>
                    <a class="r2d-text-bold collapsible-header waves-effect">Dati Struttura</a>
                    <div class="collapsible-body">
                        <ul>
                            <li class="@(Model.CurrentController.Equals("profilocliente") && Model.CurrentAction.Equals("getanagrafica") ? "active" : "")">
                                <a class="r2d-sidenav-item" asp-action="GetAnagrafica" asp-controller="ProfiloCliente" asp-route-cliente="@Model.ClienteRoute">
                                    Anagrafica
                                </a>
                            </li>
                            <li class="@(Model.CurrentController.Equals("profilocliente") && Model.CurrentAction.Equals("getbanner") ? "active" : "")">
                                <a class="r2d-sidenav-item" asp-action="GetBanner" asp-controller="ProfiloCliente" asp-route-cliente="@Model.ClienteRoute">
                                    Immagine Profilo
                                </a>
                            </li>
                            <li class="@(Model.CurrentController.Equals("profilocliente") && Model.CurrentAction.Equals("getorarioapertura") ? "active" : "")">
                                <a class="r2d-sidenav-item" asp-action="GetOrarioApertura" asp-controller="ProfiloCliente" asp-route-cliente="@Model.ClienteRoute">
                                    Orario Apertura
                                </a>
                            </li>
                            <li class="@(Model.CurrentController.Equals("clienti") && Model.CurrentAction.Equals("galleryedit")  ? "active" : "")">
                                <a lass="r2d-sidenav-item" asp-action="GalleryEdit" asp-controller="ProfiloCliente" asp-route-cliente="@Model.ClienteRoute">Galleria Immagini</a>
                            </li>

                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="@(Model.CurrentController.Equals("scheduler") ? "active" : "")">
            <a class="r2d-text-bold" asp-action="Index" asp-controller="Scheduler" asp-route-cliente="@Model.ClienteRoute">Calendari</a>
        </li>
        <li class="@(Model.CurrentController.Equals("sale") ? "active" : "")">
            <a class="r2d-text-bold " asp-action="ListaSale" asp-controller="Sale" asp-route-cliente="@Model.ClienteRoute">Sale e Trainer</a>
        </li>
        <li class="@(Model.CurrentController.Equals("tipologielezioni") ? "active" : "")">
            <a class="r2d-text-bold" asp-action="ListaLezioni" asp-controller="TipologieLezioni" asp-route-cliente="@Model.ClienteRoute">Tipologie Lezioni</a>
        </li>
        <li class="@(Model.CurrentController.Equals("abbonamenti") ? "active" : "")">
            <a class="r2d-text-bold" asp-action="TipoAbbonamenti" asp-controller="Abbonamenti" asp-route-cliente="@Model.ClienteRoute">Tipologia Abbonamenti</a>
        </li>
        <li class="@(Model.CurrentController.Equals("utenticliente")  ? "active" : "")">
            <a class="r2d-text-bold" asp-action="GetListaUtenti" asp-controller="UtentiCliente" asp-route-cliente="@Model.ClienteRoute">Utenti</a>
        </li>
        <li>
            <partial name="_Banner_RettangoloMedio" />
        </li>
    </ul>


    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var activeSectionName = '@Model.ActiveSectionName';
            var idxOpenedSectionIndex = @Model.OpenedSectionIndex;

            var elemMainSide = document.querySelectorAll('.sidenav');
            var mainSideNav = M.Sidenav.init(elemMainSide, {});

            var elemsCollapsible = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elemsCollapsible, {});

            if (activeSectionName == 'profilocliente' && idxOpenedSectionIndex >= 0) {
                let navMenuDatiStrutturaElem = document.getElementById("navMenuDatiStruttura");
                M.Collapsible.getInstance(navMenuDatiStrutturaElem).open(idxOpenedSectionIndex);
            };
        });
    </script>
}