@model ClienteUtenteViewModel;

@{
    Layout = "_LayoutClienti";
}
<div class="row">
    <div class="col s12 m10 offset-m1">
        <div class="card-panel">
            <div class="row valign-wrapper">
                <div class="col s3 m1">
                    <i class=" circle medium material-icons">person</i>
                </div>
                <div class="col s1 offset-s8 offset-m10">
                    <a class="btn-floating waves-effect waves-light light-gray" asp-action="GetListaUtenti" asp-controller="UtentiCliente">
                        <i class="material-icons">close</i>
                    </a>
                </div>
            </div>

            <vc:user-header model="@(ViewData["Utente"] as UserHeaderViewModel)"></vc:user-header>

            <!-- TABS -->
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <ul id="tabDetCliente" class="tabs">
                        <li class="tab"><a href="#tabAbbonamento">Abbonamenti</a></li>
                        <li class="tab"><a href="#tabCertificati">Certificati</a></li>
                        <li class="tab"><a href="#tabPrenotazioni">Prenotazioni</a></li>
                    </ul>
                    <div id="tabAbbonamento" class="@(ViewBag.TabId == 0 ? "active" : "")">
                        <vc:utente-view-abbonamenti abbonamenti="@Model.Abbonamenti" id-cliente="@Model.UserInfo.IdCliente" user-id="@Model.UserInfo.IdUtente"></vc:utente-view-abbonamenti>
                    </div>
                    <div id="tabCertificati" class="@(ViewBag.TabId == 0 ? "active" : "")">
                        <vc:utente-view-certificati certificati="@Model.Certificati" id-cliente="@Model.UserInfo.IdCliente" user-id="@Model.UserInfo.IdUtente"></vc:utente-view-certificati>
                    </div>
                    <div id="tabPrenotazioni" class="col s12 @(ViewBag.TabId == 0 ? "active" : "")">
                        <vc:utente-view-appuntamenti appuntamenti="@Model.Appuntamenti" id-cliente="@Model.UserInfo.IdCliente" user-id="@Model.UserInfo.IdUtente"></vc:utente-view-appuntamenti>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



@section Scripts{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.getElementById('tabDetCliente');
            var instance = M.Tabs.init(elems, { onShow : OnTabShow });
        });

        function OnTabShow(self, content) {
            //alert('OnTabShow - SELF: ' + self + ' | content: ' + content);
        }
    </script>
}
