@model List<ClienteUtenteViewModel>;

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutClienti";
}


@if ((Model == null) || (Model.Count == 0))
{
    <div class="row">
        <div class="col s4 offset-s4">
            <partial name="_NoUtenti" model="Model" />
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col s10 offset-s1 l8 offset-l2 center">
            <h5>Gestione Utenti</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s4 offset-s1 l2 offset-l1">
            <strong>Nominativo (Cognome Nome)</strong>
        </div>
        <div class="col s2 l2">
            <strong>Data Associazione</strong>
        </div>
        <div class="col s3 l2">
            <strong>Stato</strong>
        </div>
        <div class="col s2 l1">
            <strong>Azioni</strong>
        </div>
    </div>
    <div class="row">
        <div class="divider col s10 l8 offset-s1 offset-l1"></div>
    </div>
    @foreach (var s in Model)
    {
        <div class="row">
            <div class="col s4 offset-s1 l2 offset-l1" data-id-item="@s.UserInfo.IdUtente">@s.UserInfo.Cognome @s.UserInfo.Nome  </div>
            <div class="col s2 l2 ">@s.UserInfo.DataAssociazione</div>
            <div class="col s3 l2">
                @if (s.UserInfo.Stato != ClienteUtenteStatoViewModel.Unknown)
                {
                    @if (!s.UserInfo.Stato.HasFlag(ClienteUtenteStatoViewModel.AbbonamentoValido))
                    {
                        <i class="material-icons red-text tooltipped" data-position="top" data-tooltip="L'utente non ha nessun Abbonamento Attivo">do_not_disturb_alt</i>
                    }
                    else if (s.UserInfo.Stato.HasFlag(ClienteUtenteStatoViewModel.AbbonamentoValido))
                    {
                        <i class="material-icons green-text tooltipped" data-position="top" data-tooltip="L'utente ha un abbonamento Attivo">done</i>
                    }
                    @if (s.UserInfo.Stato.HasFlag(ClienteUtenteStatoViewModel.PagamentoDovuto))
                    {
                        <i class="material-icons red-text tooltipped" data-position="top" data-tooltip="L'utente ha dei pagamenti in sospeso">euro_symbol</i>
                    }
                    else
                    {
                        <i class="material-icons green-text tooltipped" data-position="top" data-tooltip="L'utente è in regola con i pagamenti">euro_symbol</i>
                    }
                    @if (!s.UserInfo.Stato.HasFlag(ClienteUtenteStatoViewModel.CertificatoValido))
                    {
                        <i class="material-icons red-text tooltipped" data-position="top" data-tooltip="L'utente non ha un certificato valido">local_hospital</i>
                    }
                    else
                    {
                        <i class="material-icons green-text tooltipped" data-position="top" data-tooltip="L'utente ha un certificato valido">local_hospital</i>
                    }
                }
                @*@switch (s.StatoAbbonamento)
                    {
                        case StatoAbbonamento.NessunAbbonamento:
                            <a class='dropdown-trigger btn @Html.Raw(ViewBag.TipologieAbbonamenti == null ? "disabled" : "")' href='#' data-target='@Html.Raw(string.Format("ddAddAbb-{0}", s.IdUtente));'>Nuovo Abbonamento</a>
                            <ul id='@Html.Raw(string.Format("ddAddAbb-{0}", s.IdUtente));' class='dropdown-content'>
                                @foreach (var ta in (ViewBag.TipologieAbbonamenti as IEnumerable<KeyValuePair<int, string>>))
                                {
                                    <li>
                                        <a asp-controller="Abbonamenti" asp-action="AddAbbonamentoToUser"
                                           asp-route-userId="@s.IdUtente" asp-route-tipoAbb="@ta.Key">@ta.Value</a>
                                    </li>
                                }
                            </ul>
                            break;
                        default:
                            <a asp-controller="Abbonamenti" asp-action="ManageAbbonamentoUtente"
                               asp-route-userId="@s.IdUtente" class="waves-effect waves-light btn disabled">Gestione Abbonamento</a>
                            break;
                    }*@
            </div>
            <div class="col s2 l1">
                <a asp-controller="UtentiCliente" asp-action="GetUtente" asp-route-userId="@s.UserInfo.IdUtente">
                    <i class="material-icons blue-text">account_circle</i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="divider col s10 l8 offset-s1 offset-l1"></div>
        </div>

    }

}


@section Scripts{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems, {});
        });
    </script>
}
