@using Microsoft.AspNetCore.Http.Extensions;
@using Web.Utils;

@model ScheduleDM

<style>
    .r2d-label {
        width: 30%
    }

    .r2d-value {
        margin-left: 20px;
        width: 70%;
    }
</style>

<div class="row">
    <div class="col s12">
        <h3>@Model.Title</h3>
    </div>
    <br />
    <div class="col s12">
        <h5>@Model.TipologiaLezione.Nome</h5>
    </div>
</div>
@if (!string.IsNullOrWhiteSpace(Model.Istruttore))
{
    <div class="row">
        <div class="col s10">
            <span class="r2d-label">Istruttore:</span>
            <span class="r2d-value">@Model.Istruttore</span>
        </div>
    </div>
}
<div class="row">
    <div class="col s10">
        <span class="r2d-label">Data ed Ora inizio:</span>
        <span class="r2d-value">@Model.DataOraInizio.ToString("dd MMMMM yyyy alle HH:mm")</span>
    </div>
</div>
<div class="row">
    <div class="col s10">
        <span class="r2d-label">Location:</span>
        <span class="r2d-value">@Model.Location.Nome</span>
    </div>
</div>
<div class="row">
    <div class="col s10">
        <span class="r2d-label">Posti disponibili:</span>
        <span class="r2d-value">@Model.PostiResidui su @Model.PostiDisponibili</span>
    </div>
</div>
<div class="row">
    <div class="col s10">
        <span class="r2d-label">Cancellazione consentita:</span>
        <span class="r2d-value">@(Model.CancellazioneConsentita ? $"SI, fino al {(Model.CancellabileFinoAl ?? Model.DataOraInizio).ToString("dd MMMMM yyyy alle HH:mm")}" : "NO") </span>
    </div>
</div>
<div class="row">
    <div class="col s10 center">
        @if (!User.Identity.IsAuthenticated)
        {
            <a class="btn waves-effect waves-light" asp-action="Login" asp-controller="Account" asp-route-returnUrl="@Context.Request.GetEncodedUrl()">Accedi per Iscriverti</a>
        }
        else
        {
            //Normal user
            if (((UserType)ViewData["UserType"]) == UserType.NormalUser)
            {
                //Se già Iscritto ==> Annulla Iscrizione
                if ((bool)ViewData["UserHasAppointment"])
                {
                    <form asp-action="DeleteAppuntamento" asp-controller="Eventi" asp-route-cliente="@(ViewContext.RouteData.Values["cliente"])"
                          asp-route-idEvento="@(Model.Id.Value)" method="post">
                        <input type="submit" class="btn waves-effect waves-light" value="Cancella Appuntamento" />
                    </form>
                }
                //Se in WaitList ==> Annulla WaitList
                else if ((bool)ViewData["UserInWaitList"])
                {
                    <form asp-action="AnnullaWaitList" asp-controller="Eventi" asp-route-cliente="@(ViewContext.RouteData.Values["cliente"])"
                          asp-route-idEvento="@(Model.Id.Value)" method="post">
                        <input type="submit" class="btn waves-effect waves-light" value="Rimuovi da Lista di Attesa" />
                    </form>
                }
                else
                {
                    <form asp-action="TakeAppuntamento" asp-controller="Eventi" asp-route-cliente="@(ViewContext.RouteData.Values["cliente"])"
                          asp-route-idEvento="@(Model.Id.Value)" method="post">
                        <input type="submit" class="btn waves-effect waves-light" value="Iscriviti" />
                    </form>
                }

            }
            else if (((UserType)ViewData["UserType"]).IsAtLeastAdmin())
            {
                <a class="btn waves-effect waves-light" asp-action="ModificaEvento" asp-controller="Eventi" asp-route-cliente="@(ViewContext.RouteData.Values["cliente"])" asp-route-id="@ViewBag.IdEvento">Modifica Evento</a>
            }
        }
    </div>
</div>
