@model EventoViewModel;
@{
    Layout = "_LayoutClienti.cshtml";
}
<head>
    @section Header{
        <link href="~/azure.fine-uploader/fine-uploader-new.min.css" rel="stylesheet">
        @*<link href="~/css/solved-by-flexbox-grid.css" rel="stylesheet">*@
        @*<link href="~/pickadate.js-3.5.6/lib/compressed/themes/default.css" rel="stylesheet" />
            <link href="~/pickadate.js-3.5.6/lib/compressed/themes/default.date.css" rel="stylesheet" />
            <link href="~/pickadate.js-3.5.6/lib/compressed/themes/default.time.css" rel="stylesheet" />*@

        <style type="text/css">
            #formEditProfile .input-field {
                margin-top: 0px;
            }
        </style>
    }
</head>
@Html.Partial("_MenuCliente", Model.IdCliente);

<h2>EditEvento</h2>

<section id="editEvento">
    <div class="container">
        <form asp-route="routeNewEvento" method="post">
            <input id="idEvento" type="hidden" asp-for="@Model.Id" />
            <div class="row">
                <div class="input-field">
                    <input id="title" type="text" asp-for="@Model.Title" />
                    <label for="title">Nome Evento</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col-6">
                    <input id="dataEvento" type="text" asp-for="@Model.Data" class="datepicker" />
                    <label for="dataEvento">Data Evento</label>
                </div>
                <div class="input-field col-6">
                    <input id="oraEvento" type="text" asp-for="@Model.OraInizio" class="timepicker" />
                    <label for="oraEvento">Ora Inizio</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <select asp-for="IdTipoLezione" asp-items="ViewBag.TipologieLezioni"></select>
                    <label>Tipo Lezione</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input type="text" asp-for="@Model.PostiDisponibili" />
                    <label>Posti disponibili</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col-6">
                    <input id="dataCancellazione" type="text" asp-for="@Model.Data" class="datepicker" />
                    <label for="dataCancellazione">Data Massima Cancellazione</label>
                </div>
                <div class="input-field col-6">
                    <input id="oraCancellazione" type="text" asp-for="@Model.OraInizio" class="timepicker" />
                    <label for="oraCancellazione">Ora Massima Cancellazione</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="istruttore" type="text" asp-for="@Model.Istruttore" />
                    <label for="istruttore">Istruttore</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <textarea id="note" asp-for="@Model.Note" class="materialize-textarea"></textarea>
                    <label for="note">Note</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Salva
                    <i class="material-icons save">salva</i>
                </button>
            </div>
        </form>
    </div>
</section>

@section Scripts{
    <!-- jQuery -->
    <script src="~/js/jquery-2.1.3.min.js"></script>
    <script src='~/js/moment.min.js'></script>
    @*<script src="~/pickadate.js-3.5.6/lib/compressed/picker.js"></script>
        <script src="~/pickadate.js-3.5.6/lib/compressed/picker.time.js"></script>
        <script src="~/pickadate.js-3.5.6/lib/compressed/picker.date.js"></script>*@

    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    @*<script src="~/materialize/js/materialize.min.js"></script>*@
    <script src="~/materialize-v1.0.0-alpha.4/js/materialize.min.js"></script>
    <script src="~/js/menuzord.js"></script>
    <script src="~/js/bootstrap-tabcollapse.min.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/jquery.sticky.min.js"></script>
    <script src="~/js/smoothscroll.min.js"></script>
    <script src="~/js/smooth-menu.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/imagesloaded.js"></script>
    <script src="~/js/jquery.inview.min.js"></script>
    <script src="~/js/jquery.shuffle.min.js"></script>
    @*<script src="~/js/wow.min.js"></script>
        <script src="~/owl.carousel/owl.carousel.min.js"></script>
        <script src="~/flexSlider/jquery.flexslider-min.js"></script>
        <script src="~/magnific-popup/jquery.magnific-popup.min.js"></script>*@
    <script src="~/js/scripts.js"></script>
    @*<script src="~/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="~/revolution/js/jquery.themepunch.revolution.min.js"></script>*@

    <script>
        $(document).ready(function () {
            $('select').formSelect();
            //$('.datepicker').datepicker();
            $('.timepicker').timepicker();

            var elemDataEvento = document.getElementById('dataEvento');
            var elemDataCancellazione = document.getElementById('dataCancellazione');

            var datePickDataEvento = M.Datepicker.init(elemDataEvento, {
                format: "yyyy-mm-dd",
                defaultDate: "@(Model.Data.HasValue ? Model.Data.Value.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd"))",
                setDefaultDate: true,
                i18n : {
                    months: ['Gennaio', 'Febbraio', 'Marzo', 'Aprile', 'Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre', 'Novembre', 'Dicembre'],
                    monthsShort: ['Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giu', 'Lug', 'Ago', 'Set', 'Ott', 'Nov', 'Dic'],
                    weekdays: ['Domenica', 'Lunedì', 'Martedì', 'Mercoledì', 'Giovedì', 'Venerdì', 'Sabato'],
                    weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mer', 'Gio', 'Ven','Sab', 'Dom'],
                    weekdaysAbbrev: ['D', 'L', 'M', 'M', 'G', 'V', 'S']
                }
            });

            var datePickDataCanc = M.Datepicker.init(elemDataCancellazione, @ViewBag.DataCancellazionePickerOptions );

            //var datePickDataEvento = M.Datepicker.getInstance(document.getElementById("dataEvento"));
            //var datePickDataCanc = M.Datepicker.getInstance(document.getElementById("dataCancellazione"));
            var timePickOraEvento = M.Datepicker.getInstance(document.getElementById("oraEvento"));
            var timePickOraCanc = M.Datepicker.getInstance(document.getElementById("oraCancellazione"));

            datePickDataEvento.d
        });
    </script>
}