@using Web.Utils;

@model EventoViewModel;
@{
    Layout = "_LayoutClienti";
}
<head>
    @section Header{
        <link href="~/azure.fine-uploader/fine-uploader-new.min.css" rel="stylesheet">
        <style type="text/css">
            #formEditProfile .input-field {
                margin-top: 0px;
            }

            .input-field {
                margin-top: 0.2rem;
                margin-bottom: 0;
            }
        </style>
    }
</head>

@Html.Partial("_MenuCliente", ViewData["IdCliente"]);

<div class="container">
    <div class="row">
        <form class="col s12" asp-action='@(Model.Id.HasValue ? Html.Raw("edit") : Html.Raw("new"))' asp-route-id="@Model.Id" method="post">
            <input id="idEvento" type="hidden" asp-for="@Model.Id" />
            <div class="row">
                <div class="input-field col s10">
                    <input type="text" asp-for="@Model.Title" />
                    <label asp-for="Title"></label>
                    <span asp-validation-for="Title" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s5">
                    <input id="dataEvento" type="date" asp-for="Data" class="datepicker" />
                    <label asp-for="Data" ></label>
                    <span asp-validation-for="Data" />
                </div>
                <div class="input-field col s5">
                    <input id="oraEvento" type="time" asp-for="OraInizio" class="timepicker" />
                    <label asp-for="OraInizio"></label>
                    <span asp-validation-for="OraInizio" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10">
                    <select asp-for="IdLocation" asp-items="ViewBag.Locations" class=""></select>
                    <label asp-for="IdLocation"></label>
                    <span asp-validation-for="IdLocation" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10">
                    <select asp-for="IdTipoLezione" asp-items="ViewBag.TipologieLezioni" class=""></select>
                    <label asp-for="IdTipoLezione"></label>
                    <span asp-validation-for="IdTipoLezione" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10">
                    <input type="text" asp-for="PostiDisponibili" />
                    <label asp-for="PostiDisponibili"></label>
                    <span asp-validation-for="PostiDisponibili" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s5">
                    <input id="dataCancellazione" type="date" asp-for="DataCancellazioneMax" class="datepicker" />
                    <label asp-for="DataCancellazioneMax"></label>
                    <span asp-validation-for="DataCancellazioneMax" />
                </div>
                <div class="input-field col s5">
                    <input id="oraCancellazione" type="time" asp-for='OraCancellazioneMax' class="timepicker" />
                    <label asp-for="OraCancellazioneMax"></label>
                    <span asp-validation-for="OraCancellazioneMax" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10">
                    <input type="text" asp-for="Istruttore" />
                    <label asp-for="Istruttore"></label>
                    <span asp-validation-for="Istruttore" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10">
                    <textarea asp-for="Note" class="materialize-textarea"></textarea>
                    <label asp-for="Note"></label>
                    <span asp-validation-for="Note" />
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Salva
                    <i class="material-icons save">save</i>
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <!-- jQuery -->
    <script src='~/js/moment.min.js'></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    @*<script src="~/materialize/js/materialize.min.js"></script>*@
    <script src="~/materialize-v1.0.0/js/materialize.min.js"></script>
    <script src="~/js/menuzord.js"></script>
    <script src="~/js/bootstrap-tabcollapse.min.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/jquery.sticky.min.js"></script>
    <script src="~/js/smoothscroll.min.js"></script>
    <script src="~/js/smooth-menu.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/imagesloaded.js"></script>
    <script src="~/js/jquery.inview.min.js"></script>
    <script src="~/js/jquery.shuffle.min.js"></script>
    <script src="~/js/scripts.js"></script>

    <script>
        var i18nDate = {
            months: ['Gennaio', 'Febbraio', 'Marzo', 'Aprile', 'Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre', 'Novembre', 'Dicembre'],
            monthsShort: ['Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giu', 'Lug', 'Ago', 'Set', 'Ott', 'Nov', 'Dic'],
            weekdays: ['Domenica', 'Lunedì', 'Martedì', 'Mercoledì', 'Giovedì', 'Venerdì', 'Sabato'],
            weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mer', 'Gio', 'Ven', 'Sab', 'Dom'],
            weekdaysAbbrev: ['D', 'L', 'M', 'M', 'G', 'V', 'S'],
            clear: 'Cancella',
            cancel: 'Annulla',
            today: 'Oggi'
        };

        var i18nTime = {
            cancel: 'Annulla',
            clear: 'Cancella',
            done: 'Ok'
        };

        $(document).ready(function () {
            $('select').formSelect();

            //$('.timepicker').timepicker();

            var elemDataEvento = document.getElementById('dataEvento');
            var elemOraEvento = document.getElementById('oraEvento');
            var elemDataCancellazione = document.getElementById('dataCancellazione');
            var elemOraCancellazione = document.getElementById('oraCancellazione');
            var datePickDataEvento = M.Datepicker.init(elemDataEvento, {
                format: "dd/mm/yyyy",
                defaultDate: "@(Model.Data.HasValue ? Model.Data.Value.ToString("dd/MM/yyyy") : DateTime.Now.ToString("dd/MM/yyyy"))",
                //setDefaultDate: true,
                i18n: i18nDate
            });
            @if (Model.Data.HasValue) {
                @: datePickDataEvento.date = new Date('@Model.Data.Value.ToString("yyyy-MM-dd")')
            }
            var datePickDataCanc = M.Datepicker.init(elemDataCancellazione, {
                //format: "dd/mm/yyyy",

                defaultDate: new Date("@(Model.DataCancellazioneMax.HasValue ? Model.DataCancellazioneMax.Value.ToString("dd/MM/yyyy") : DateTime.Now.ToString("dd/MM/yyyy"))"),
               // setDefaultDate: true,
                i18n: i18nDate
            });

            @if (Model.DataCancellazioneMax.HasValue) {
                @: datePickDataCanc.date = new Date("@Model.DataCancellazioneMax.Value.ToString("yyyy-MM-dd")");
            }

            var timePickOraEvento = M.Timepicker.init(elemOraEvento, {
                twelveHour: false,
                i18n: i18nTime
            });
            @if (Model.OraInizio.HasValue)
            {
                @: timePickOraEvento.time = '@Model.OraInizio.Value.ToString(@"hh\:mm")';
            }

            var timePickOraCanc = M.Timepicker.init(elemOraCancellazione, {
                twelveHour: false,
                i18n: i18nTime
            });
            @if (Model.OraCancellazioneMax.HasValue)
            {
                @: timePickOraCanc.time = '@Model.OraCancellazioneMax.Value.ToString(@"hh\:mm")';
            }
        });
    </script>
}