@model SchedulerViewModel;
@{
    Layout = "_LayoutClienti";
}

@section Header{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" integrity="sha256-Tu3DN+5kwrhzlzhNUMuGht2h7cR6ARgKcYemB9u5SzA=" crossorigin="anonymous" />
    @*<style>
        .fc-time-grid .fc-slats td {
            height: 3em;
        }

        .spinner {
            position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -50px; /* half width of the spinner gif */
            margin-top: -50px; /* half height of the spinner gif */
            text-align: center;
            z-index: 1234;
            overflow: auto;
            width: 100px; /* width of the spinner gif */
            height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
        }
        
        .fc-header-toolbar h2{
            font-size: 1.5rem;
        }

        .fc-day-header {
            font-size: 0.8rem;
        }

        .fc-axis {
            font-size: 0.8rem;
        }
    </style>*@
}

<!-- TABS SALE-->
<div class="row">
    <div class="col s10 offset-s1">
        <ul id="tabsContainer" class="tabs">
            @foreach (var s in Model.Sale)
            {
                <li class="tab col s3">
                    <a target="_self" asp-action="Index" asp-route-lid="@s.Id" class='@(Model.IdActiveLocation.HasValue && Model.IdActiveLocation.Value.Equals(s.Id) ? "active": "")'>
                        @(s.Nome)
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
<div class="row">
    <div class="col s10 offset-s1">
    </div>
</div>
<div class="row">
    <div class="col s8 offset-s1">
        @*<input type="button" value="Nuovo Evento" onclick="onNewEventoClick(this)" />*@
        <div class="calendar-container">
            <div id="calendar">
            </div>
        </div>
    </div>
</div>

<div id="spinner" class="spinner" style="display:none;">
    <img id="img-spinner" src="~/img/ajax-loader.gif" alt="Loading" />
</div>


@section Scripts{
    <!-- MomentJS e FullCalendar-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/it.js" integrity="sha256-D8y560ZGsKY1LoAajKkQCG7y0Vkye361MH4yFv2K5kk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js" integrity="sha256-QvhPq+evNjd8JyxSOU5KL3jPYTD7+gWVev1OH763SL0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/it.js" integrity="sha256-Y2D8xTTlSrBTcjPKKOeBs0zxdp9rupAIQiQZkbxVAfo=" crossorigin="anonymous"></script>

    <script>
        // Init Tabs
        var instance = M.Tabs.init(document.getElementById('tabsContainer'), {
            
        });


        function onNewEventoClick(src) {
            alert('Nuovo evento clicked.' + src);
            addEvento(null);
        }

        //date: momentjs
        function addEvento(date) {
            var idActive = '@(Model.IdActiveLocation.HasValue?Model.IdActiveLocation.ToString():"")';
            var url = "eventi/new?lid=" + idActive;
            if (date) {
                url = url + "&date=" + date.format("YYYY-MM-DD") + "&time=" + (date.hasTime() ? date.format("HH:mm") : "");
            }
            //window.open(url, "_self");
            window.location = url;
        }

        // Aggiungiamo l'header custom con il token ad ogni richiesta Ajax
        $.ajaxSetup({
            headers: {
   //             'X-PalestreGoGO-AUTHToken': document.getElementById('token').value
                'X-PalestreGoGO-AUTHToken':'@Html.Raw(ViewBag.AuthToken)'
            }
        });

        $(document).ready(function () {

            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                /*Button custom per aggiungere un evento*/
                customButtons: {
                    newEventButton: {
                        text: 'Nuovo Evento',
                        click: function () {
                            addEvento(null);
                        }
                    }
                },
                header: {
                    left: 'prev,next today newEventButton',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                allDaySlot: false,
                // put your options and callbacks here
                lang: "it",
                weekends: true,
                defaultView: "agendaWeek",
                minTime: '@(Model.MinTime?.ToString() ?? "00:00:00")',
                maxTime: '@(Model.MaxTime?.ToString() ?? "24:00:00")',
                slotDuration: "01:00:00",
                slotLabelInterval: "01:00",
                agendaEventMinHeight: 30,
                height: 'auto',
                events: {
                    url: 'eventi/feeds',
                    type: 'GET',
                    data: {
                        lid: '@(Model.IdActiveLocation)'
                    }
                },
                dayClick: function (date, jsEvent, view) {
                    var now = new Date();
                    if (date > now) {
                        $("#spinner").show();
                        addEvento(date);
                    } else {
                        alert("Non è possibile creare un evento per una data passata");
                    }
                    //TODO: Caricare loader!
                },
                eventClick: function (calEvent, jsEvent, view) {
                    $("#spinner").show();
                    var url = "eventi/edit/" + calEvent.id;
                    window.location = url;
                    //TODO: Caricare loader!
                }
            })
        });
    </script>
}
