@model UserProfileViewModel;

@{
    ViewData["Title"] = "Index";
    //TODO: gestire layout specifico per l'utente (??)
    Layout = "_LayoutClienti";
}


<h2>Le mie prenotazioni</h2>

@*DA IMPLEMENTARE*@
@if (Model.Appuntamenti.Count == 0)
{
    <div class="no-appointment">
        <span>Nessuna prenotazione in archivio.</span>
    </div>
}
else
{
    foreach (var a in Model.Appuntamenti.OrderByDescending(a=>a.DataOra))
    {
        <div class="row">
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">@a.Nome presso @a.NomeCliente il @a.DataOra</span>
                        @if (a.Cancellabile)
                        {
                        <p>
                            Iscritto il: @a.DataOraIscrizione.ToShortDateString() alle @a.DataOraIscrizione.ToShortTimeString()
                            <br />
                            <strong>Prenotazione cancellabile </strong>
                        </p>
                        }
                        @if (a.Cancellabile)
                        {
                        <div class="card-action">
                            <form asp-controller="Eventi" asp-action="DeleteAppuntamento" 
                               asp-route-cliente="@a.ClienteUrlRoute" asp-route-idEvento="@a.IdEvento"
                               asp-route-idAppuntamento="@a.Id" method="post">
                                <input type="submit" class="btn" value="Cancella Prenotazione" />
                            </form>
                        </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    }
}
